{% extends 'base_fabric.html' %}

{% block content %}
    <div class="container-fluid" width="100%" height="100%" style="min-height: 100%;min-width:100%;padding:0;">
        <canvas id="canvas"></canvas>
    </div>

    <script>

        const DIRECTIONS = {
            N : {x: 1, y: 0},
            S: {x: -1, y: 0},
            W: {x: 0, y: 1},
            E : {x: 0, y: -1},
            none : {x: 0, y: 0}
        };

        class Player{
            velocity = 0;
            direction = DIRECTIONS.none;
            render = null;
            constructor(render) {
                this.render = render;
            }

            getRender(){
                return this.render;
            }

            setRender(_render){
                this.render = _render;
            }
            getVelocity(){
                return this.velocity;
            }

            setVelocity(_velocity){
                this.velocity = _velocity;
            }

            getdirection(){
                return this.direction;
            }

            setdirection(_direction){
                this.direction = _direction;
            }
        }

       function createHexagon(){
            let hexagon = new fabric.Polygon(
                [
                    { x: 10, y: 10},
                    { x: 20, y: 10},
                    { x: 27.07, y: 17.07},
                    { x: 27.07, y: 27.07},
                    { x: 20, y: 34.14},
                    { x: 10, y: 34.14},
                    { x: 2.93, y: 27.07},
                    { x: 2.93, y: 17.07},
                    { x: 10, y: 10}

                ],
                    {
                        stroke: 'pink',
                        fill: 'magenta',
                        left: 100,
                        top: 100
                    }
            );

            hexagon.scale(3);

            return hexagon;
        }

        function resizeCanvas(canvas, height = window.innerHeight, width = window.innerWidth) {
                canvas.setHeight(height);
                canvas.setWidth(width);
                canvas.renderAll();
        }


        function configureCanvas(){
            let canvas = new fabric.Canvas('canvas');

            resizeCanvas(canvas);

            return canvas;
        }

        function onKeyDown(event) {
              var keyCode = event.keyCode;
              switch (keyCode) {
                case 68: //d
                  keyD = true;
                  velocity += 1;
                  break;
                case 83: //s
                  keyS = true;
                  break;
                case 65: //a
                  keyA = true;
                  break;
                case 87: //w
                  keyW = true;
                  break;
              }
            }

        function onKeyUp(event) {
              const keyCode = event.code;
              console.log(keyCode);

              switch (keyCode) {
                case 68: //d
                  keyD = false;
                  break;
                case 83: //s
                  keyS = false;
                  break;
                case 65: //a
                  keyA = false;
                  break;
                case 87: //w
                  keyW = false;
                  break;
              }
            }

        function inputs(){
            window.addEventListener("keydown", onKeyDown, false);
            window.addEventListener("keyup", onKeyUp, false);
        }

        function game_loop(){
            inputs();
        }

        function game_setup(canvas){
            let hexagon = createHexagon();
            let player = new Player(hexagon);
            canvas.add(player.getRender());
        }

        const main = () => {
            let canvas = configureCanvas();
            let fps = 60;

            game_setup(canvas);
            setInterval(game_loop, fps);
        };


        window.onload = main;

    </script>
    <style>
        * { margin: 0; padding: 0;}

        body, html { height:100%; }

        #container-fluid {
            position:absolute !important;
            width:100% !important;
            height:100% !important;
        }

    </style>
{% endblock %}